.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.parallax {
  height: 100vh;
  width: 100vw;
  margin-bottom: 20px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.parallax-img, .parallax-title-white, parallax-title-black {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.parallax-img {
  top: 0;
  height: 100vh;
  width: 100vw;
  // margin-top: 500px;
  transform: translateZ(-5px) scale(2);
  opacity: 70%;
}

.parallax-title-white, .parallax-title-black {
  font-size: 135px;
  text-align: center;
  width: 100%;
  transform: translateZ(-2px) scale(1).5;
}

.parallax-title-black {
  color: black;
}

.parallax-title-white {
  color: white;
}

@media (max-width: 500px) {
  .parallax-img {
    margin-top: 200px;
    height: auto;
  }

  .parallax-title-white, .parallax-title-black {
    margin-top: 100px;
    font-size: 45px;
  }

  .parallax {
    height: 50vh;
  }
}

.indulgent-grid {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: auto;
  overflow: hidden;
  margin: 20px;
  margin-top: 0;
}

.indulgent-grid-img {
  width: 100%;
  padding: 20px;
}

.music-text {
  color: white;
  text-align: left;
  padding: 20px
}

.cover-container {
  margin: 20px;
  margin-top: 0;
  padding-top: 20px;
  background-color: rgb(20, 20, 20);
}

.indulgent-cover-info {
  color: white;
  text-align: right;
  padding: 20px;
  width: 35%;
  justify-content: flex-end;
}

.music-cover {
  padding: 20px;
  padding-top: 0;
  height: 35vw;
}

.mjf-info {
  margin: 20px;
  margin-top: 0;
}

.mjf-description {
  color: white;
  text-align: right;
  padding: 20px;
  width: 40%;
}

.mjf-studio {
  width: 57vw;
  padding: 20px;
}

.mjf-cover-info {
  color: white;
  text-align: left;
  padding: 20px;
  width: 35%;
}

.youtube {
  display: block;
  width: 80vw;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.cover-title {
  color: white;
  font-size: 40px;
  line-height: 40px;
  font-style: italic;
  margin-bottom: 10px;
  width: 100%;
}

.cover-artist {
  font-size: 30px;
  line-height: 30px;
  color: rgb(109, 109, 109);
  margin-bottom: 40px;
  width: 100%;
}

.cover-buttons {
  margin-bottom: 40px;
}

.indulgent-buttons {
  justify-content: flex-end;
}

.mjf-buttons {
  justify-content: flex-start;
}

button {
  margin: 4px;
}

.music-mobile {
  text-align: center;
  background-color: rgb(20, 20, 20);
  padding-top: 20px;
}

@media (max-width: 500px) {
  .indulgent-grid {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto auto;
  }
  .indulgent-grid-text {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .music-text {
    text-align: center;
  }
  .music-cover {
    height: auto;
    width: 80vw;
  }
  .cover-title {
    width: 90vw;
    text-align: center;
  }
  .cover-artist {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  .cover-buttons {
    margin-bottom: 20px;
    width: 90%;
  }
  .cover-extra {
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(105, 105, 105);
    margin-bottom: 20px;
  }
  .mjf-studio {
    width: 90vw;
    padding-bottom: 40px;
  }
  .mjf-description {
    text-align: center;
    width: 100%;
  }
  .youtube {
    height: 200px;
  }
}