$calcWidth: calc(100vw - 275px);
$margin: 30px;
$mobileMargin: 10px;
$borderColor: #C1C1C1;
$linkColor: #949494;

@import "~react-image-gallery/styles/scss/image-gallery.scss";

.page {
  min-height: 100vh;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.page-flex {
  display: flex;
  width: $calcWidth;
  padding-left: 250px;
}

.title {
  font-size: 50px;
  color: white;
  line-height: 50px;
}

.appear {
  animation-name: appear;
  animation-duration: 1s;
}

.home-title {
  font-size: 40px;
  width: $calcWidth;
  padding-bottom: $margin;
  padding-top: $margin;
}

.line {
  width: $calcWidth;
  border-bottom: 1px solid $borderColor;
}

blue {
  background-color: #4268B3;
  color: white;
}

red {
  background-color: #D63B22;
  color: white;
}

green {
  background-color: #5ECC63;
  color: white;
}

.section-title {
  font-size: 80px;
  margin-bottom: -20px;
  color: black;
  text-align: right;
  width: $calcWidth;
  padding-right: $margin;
  // font-family: 'Nimbus-Sans-Reg';
}

.section-subtitle {
  font-size: 20px;
  width: 100vw;
  text-align: right;
  padding-right: $margin;
  font-weight: 100;
  margin-bottom: -5px;
}

.section-year {
  font-size: 15px;
  width: 100vw;
  text-align: right;
  padding-right: $margin;
  font-weight: 100;
  color: #0000006d;
}

$projWidth: calc($calcWidth / 3);

.project-container {
  display: flex;
  width: $calcWidth;
  flex-wrap: wrap;
  margin-top: $margin;
}

.home-project {
  width: $projWidth;
  padding-right: $margin;
  padding-bottom: $margin;
}

.project-img {
  width: calc($projWidth - $margin);
  height: calc($projWidth - $margin);
}

.project-title {
  width: $projWidth;
  font-family: 'Nimbus-Sans-Bol';
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: -7px;
}

.project-medium {
  width: $projWidth;
  font-size: 11px;
}

.project-year {
  width: $projWidth;
  font-size: 11px;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* in use */

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

a:hover {
  text-decoration: none;
}

.img {
  display: 'block';
  width: 100%;
  padding: 2px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: $calcWidth;
  margin-left: 250px;
}

// image carousel overrides

.image-gallery-icon{
  filter: none;
  transition: none;
  color: $linkColor;
}

.image-gallery-icon:hover{
  color: $linkColor;
  transition: none;
  // transform: scale(1);
}

.image-gallery {
  width: 700px;
  margin: auto;
  margin-top: 100px;
}

.image-gallery-left-nav {
  left: -150;
}

.image-gallery-right-nav {
  right: -150;
}

.about-top {
  width: $calcWidth;
  display: flex;
  align-items: flex-end;
  align-content: flex-start;
  margin-bottom: $margin;
}

.about-top-img {
  width: calc($calcWidth / 2 - $margin);
  margin-right: $margin;
}

.about-first-text {
  width: 20vw;
  color: black;
  font-size: 12px;
}

.about-second-text {
  width: calc($calcWidth / 4 - $margin);
  font-size: 12px;
  margin-right: $margin;
  text-align: justify;
}

.about-bottom {
  width: $calcWidth;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
}

.about-bottom-img {
  width: calc($calcWidth / 3 - $margin);
  margin-right: $margin;
  margin-left: calc($calcWidth / 6);
}

.about-right-img {
  width: calc($calcWidth / 4);
}

.about-bottom-text {
  width: calc($calcWidth / 2);
  font-size: 12px;
}

.photo-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
}

.hi-titles-container {
  display: flex;
  width: calc(100vw - 350px);
  justify-content: flex-end;
  flex-wrap: wrap;
  text-align: right;
}

.hi-title {
  font-size: 50px;
  line-height: 50px;
  width: calc(100vw - 350px);
}

.hi-subtitle {
  width: calc(100vw - 350px);
}

.hi-body {
  display: flex;
  align-items: center;
}

.hi-button {
  width: 300px;
  height: 50px;
  margin: auto;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  background-color: #EAEAEA;
  border: 1px dotted #949494;
}

.hi-button:active {
  background-color: #EAEAEA;
  color: rgb(173, 173, 173);
}

.hi-gif {
  display: block;
  padding-top: 20px;
  max-height: 50vh;
}

ut {
  color: rgb(191, 87, 0);
}

pi {
  color: rgb(195, 33, 74);
}

arduino {
  color: rgb(1, 152, 158);
}

processing {
  color: rgb(35, 117, 189)
}

.modular-photo {
  display: flex;
}

.menu-fadein img {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 40s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 40s;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: width 1s;
  transition: height 1s;
}

/* override lazyload animation to be longer */
.lazy-load-image-background.opacity.lazy-load-image-loaded {
  transition: opacity 1s !important;
}

.software-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $calcWidth;
  position: relative;
}

.software-half {
  width: calc($calcWidth / 2);
  padding: $margin;
  padding-top: 0;
}

.software-full {
  width: $calcWidth;
  padding: $margin;
  padding-top: 0;
}

.dadalab-text-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.software-info {
  width: calc($calcWidth / 2);
  position: absolute;
  padding-right: $margin;
}

.software-caption {
  text-align: right;
  width: calc($calcWidth / 2);
  padding-right: $margin;
  padding-bottom: $margin;
  position: absolute;
  bottom: 0;
}

.software-youtube {
  width: $calcWidth;
  height: calc(($calcWidth/16) * 9);
  padding: $margin;
  padding-top: 0;
}

.music-full {
  width: $calcWidth;
  height: calc(($calcWidth/16) * 9);
  object-fit: cover;
  padding: $margin;
}

.music-description {
  padding: $margin;
  padding-top: 0;
  width: $calcWidth;
}

.music-half {
  width: calc($calcWidth/2);
  padding: $margin;
  padding-top: 0;
}

.music-releases {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: $calcWidth;
  margin-bottom: $margin;
}

.music-release {
  width: calc($calcWidth / 3);
  text-align: center;
}

.music-cover {
  width: calc($calcWidth / 3);
  height: calc($calcWidth / 3);
  padding: $margin;
  padding-bottom: 5px;
}

.music-video {
  text-align: center;
  width: calc($calcWidth/2);
  margin-bottom: $margin;
}

.youtube-half {
  width: calc($calcWidth/2);
  height: calc((($calcWidth/2)/16) * 9);
  padding: $margin;
  padding-bottom: 5px;
}

@media (max-width: 500px) {
  .page-flex {
    display: flex;
    width: 100vw;
    padding-left: 0;
  }
  .page {
    margin-top: 120px;
    align-content: flex-start;
  }
  .home-title {
    font-size: 20px;
    border-bottom: 1px solid $borderColor;
    width: calc(100vw - (2 * $mobileMargin));
    text-align: center;
    padding-bottom: $mobileMargin;
    padding-top: $mobileMargin;
    margin-right: $mobileMargin;
    margin-left: $mobileMargin;
  }
  .line {
    width: 100vw;
  }
  .section-title {
    font-size: 40px;
    color: black;
    text-align: right;
    width: 100vw;
    padding-right: $mobileMargin;
    font-family: 'Nimbus-Sans-Reg';
  }
  .section-subtitle {
    font-size: 15px;
    padding-right: $mobileMargin;
  }
  .section-year {
    width: 100vw;
    padding-right: $mobileMargin;
  }
  .project-container {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
  }
  .home-project {
    width: 100vw;
    padding: 0;
    margin-bottom: $mobileMargin;
  }
  .project-img {
    width: 100vw;
    height: 100vw;
  }
  .project-title {
    width: 100vw;
    font-family: 'Nimbus-Sans-Bol';
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: -7px;
    padding-left: $mobileMargin;
  }
  .project-medium {
    width: 100vw;
    font-size: 15px;
    padding-left: $mobileMargin;
  }
  .project-year {
    width: 100vw;
    font-size: 15px; 
    padding-left: $mobileMargin;
  }
  .gallery {
    margin-left: 0;
    width: 100vw;
  }
  .photo-mobile-spacer {
    width: 100vw;
    height: 25;
  }
  .image-gallery {
    width: 100vw;
    padding-left: $margin;
    padding-right: $margin;
    margin-top: 0;
  }
  .image-gallery-icon{
    padding: 0;
  }
  .image-gallery-left-nav {
    left: -32;
  }
  .image-gallery-right-nav {
    right: -32;
  }
  .hi-titles-container {
    width: 100vw;
    justify-content: center;
    text-align: right;
  }
  .hi-title {
    font-size: 40px;
    width: 100vw;
    padding-right: $mobileMargin;
    padding-top: $mobileMargin;;
    font-family: 'Nimbus-Sans-Reg';
  }
  .hi-subtitle {
    font-size: 20px;
    width: 100vw;
    padding-bottom: $mobileMargin;
    padding-top: $mobileMargin;
    padding-right: $mobileMargin;
    padding-left: $mobileMargin;
  }
  .hi-body {
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    margin-top: calc(4 * $mobileMargin);
  }
  .hi-button {
    width: 100vw;
    margin: 0;
    margin-left: calc(4 * $mobileMargin);
    margin-right: calc(4 * $mobileMargin);
  }
  .hi-gif { 
    width: 100vw;
    height: auto;
    max-height: none;
    margin-top: calc(4 * $mobileMargin);
  }
  .about-top-img {
    width: 100vw;
    height: 100vw;
    margin-right: 0;  
    object-fit: cover;
  }
  .about-first-text {
    width: 100vw;
    color: black;
    font-size: 12px;
    line-height: 15px;
    padding: 20px;
    text-align: center;
  }
  .about-second-text {
    width: 100vw;
    color: rgb(221, 221, 221);
    font-size: 15px;
    line-height: 20px;
    padding: 20px;
    text-align: center;
  }
  .about-bottom-img {
    width: 100vw;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
  .about-bottom-text {
    width: 100vw;
    color: rgb(221, 221, 221);
    font-size: 12px;
    line-height: 15px;
    padding: 20px;
    text-align: right;
  }
  .about-right-img {
    height: auto;
    width:100vw;
  }
  .menu-fadein {
    width: 100vw;
    height: 100vw;
  }
  .software-row {
    flex-wrap: wrap;
    width: 100vw;
  }
  .software-half {
    width: 100vw;
    padding: 0;
  }
  .software-full {
    width: 100vw;
    padding: 0;
  }
  .dadalab-text-container {
    width: 100vw;
    padding: $mobileMargin;
  }
  .software-info {
    width: 100vw;
    position: relative;
    padding: 0;
    text-align: right;
    margin-bottom: $mobileMargin;
  }
  .software-caption {
    width: 100vw;
    padding: 0;
    position: relative;
    color: $linkColor;
  }
  .software-youtube {
    width: 100vw;
    height: calc((100vw/16) * 9);
    padding: 0;
  }
  .software-mobile-photo {
    margin-bottom: 1px;
  }
  .music-full {
    width: 100vw;
    height: calc((100vw/16) * 9);
    padding: 0;
  }
  .music-description {
    padding: $mobileMargin;
    width: 100vw;
    text-align: right;
  }
  .music-half {
    width: calc(100vw/2);
    padding: $mobileMargin;
    padding-top: 0;
  }
  .music-releases {
    justify-content: space-between;
    width: 100vw;
    margin-bottom: $mobileMargin;
    font-size: 10px;
  }
  .music-release {
    width: calc(100vw / 2);
    text-align: right;
    padding-right: $mobileMargin;
  }
  .music-cover {
    width: calc(100vw / 2);
    height: calc(100vw / 2);
    padding: $mobileMargin;
  }
  .music-video {
    text-align: center;
    width: calc(100vw/2);
    margin-bottom: $mobileMargin;
    font-size: 10px;
  }
  .youtube-half {
    width: calc(100vw/2);
    height: calc(((100vw/2)/16) * 9);
    padding: $mobileMargin;
  }
}