.App {
  text-align: center;
  font-family: Berthold-Akzidenz-Grotesk;
}

.error-text {
  color: white;
  text-align: center;
  padding-top: 8%;
  font-size: 40px;
}

.error {
  background: url("../dist/images/photos/uservoid/uservoid13.jpg") no-repeat center;;
  background-size: cover;
  width:100%;
  height: 100%;
}

@media (max-width: 500px) {
  .error-text {
    padding-top: 40%;
  }
}