body {
  margin: 0;
  font-family: 'Berthold-Akzidenz-Grotesk-Light-Extended';
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Berthold-Akzidenz-Grotesk-Light-Extended';
  font-style: normal;
  font-weight: normal;
  src: local('Berthold-Akzidenz-Grotesk'), url('/fonts/Berthold-Akzidenz-Grotesk-BE-Li.otf') format('opentype');
}

@font-face {
  font-family: 'Berthold-Akzidenz-Grotesk-Light';
  font-style: normal;
  font-weight: normal;
  src: local('Berthold-Akzidenz-Grotesk'), url('/fonts/Berthold-Akzidenz-Grotesk-BE-Li-Tall-Normal.otf') format('opentype');
}

@font-face {
  font-family: 'Nimbus-Sans-Reg';
  font-style: normal;
  font-weight: normal;
  src: local('Nimbus-Sans-Reg'), url('/fonts/NimbusSanL-Reg.otf') format('opentype');
}

@font-face {
  font-family: 'Nimbus-Sans-RegIta';
  font-style: normal;
  font-weight: normal;
  src: local('Nimbus-Sans-RegIta'), url('/fonts/NimbusSanL-RegIta.otf') format('opentype');
}

@font-face {
  font-family: 'Nimbus-Sans-Bol';
  font-style: normal;
  font-weight: normal;
  src: local('Nimbus-Sans-Bol'), url('/fonts/NimbusSanL-Bol.otf') format('opentype');
}

@font-face {
  font-family: 'Nimbus-Sans-BolIta';
  font-style: normal;
  font-weight: normal;
  src: local('Nimbus-Sans-BolIta'), url('/fonts/NimbusSanL-BolIta.otf') format('opentype');
}

a {
  color: #949494;
  transition: color .3s;
}

a:hover {
  text-decoration: none;
  color: black;
}

blue {
  background-color: #4268B3;
  color: white;
}

red {
  background-color: #D63B22;
  color: white;
}

green {
  background-color: #5ECC63;
  color: white;
}