$linkColor: #949494;
$borderColor: #C1C1C1;

.nav-title {
  font-size: 40px;
  color: black;
  line-height: 40px;
  padding-left: 25px;
  font-family: 'Berthold-Akzidenz-Grotesk-Light-Extended';
}

.subtitle {
  height: 15px;
  color: grey;
  margin-bottom: 20px;
  font-size: 10px;
  letter-spacing: 2px;
  padding-left: 25px;
  font-family: 'Berthold-Akzidenz-Grotesk-Light-Extended';
}

.navbar {
  height: 100vh;
  color: $linkColor;
  width: 225px;
  padding: 0px;
  display: flex;
  align-content: center;
  align-items: center;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}

.link-container {
  width: 225px;
  border: 1px solid $borderColor;
  border-left: none;
  margin-right: 0;
  font-family: 'Nimbus-Sans-BolIta';
}

.external-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.external-link {
  height: 15px;
  width: 225px;
  position: relative;
  letter-spacing:2px;
  font-size: 10px;
  animation-name: offExternalText;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  padding-left: 25px;
  font-family: 'Nimbus-Sans-BolIta';
}

.external-link:hover {
  animation-name: overExternalText;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.link {
  color: $linkColor;
  animation-name: offText;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  font-size: 25px;
  height: 30px;
  padding-left: 25px;

  border-bottom: 1px solid $borderColor;
  font-family: 'Nimbus-Sans-BolIta';
}

.last-link {
  @extend .link;
  border-bottom: none;
}

.resume-link {
  @extend .link;
  border-top: 1px solid $borderColor;
}

.sublink-container {
  margin-left: 25px;
  border-left: 1px solid $borderColor;
}

.sublink {
  // account for 1px border on each side, 198 prevents overflow
  width: 198px;
  position: relative;
  padding-left: 25px;
  border-bottom: 1px solid $borderColor;
  padding-top: 1px; // accounts for 1px bottom border so text remains cenetred
  animation-name: offSublink;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.sublink:hover {
  animation-name: overSublink;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.last-sublink {
  @extend .sublink;
  border: none;
}

.link-color {
  background-color: black;
  width: 0;
  height: 20px;
  position: absolute;
  top: 1px;
  left: -20px;
  transition: width .7s;
}

.link-text {
  width: 160px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid black;
  border-top: 0px;
}

.link:hover .link-color {
  width: 160px;
}

$navHeight: calc(100svh - 120px);

@media (max-width: 500px) {
  .nav-title {
    padding-left: 20px;
    font-style: italic;
    font-size: 30px;
  }
  .subtitle {
    font-size: 12px;
    line-height: 17px;
    height: auto;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: -20px;
    text-align: center;
  }
  .navbar {
    background-color: none;
    width: 100vw;
    margin: 0;
    position: fixed;
    top: 0;
    align-content: flex-start; 
    height: fit-content;
  }
  .blur {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    animation-name: blur;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  .unblur {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 120px;
    z-index: 999;
    animation-name: unblur;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  .nav-header {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
  }
  .nav-title-container {
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 60vw;
  }
  .menu-button {
    font-size: 30px;
    color: black;
    height: 120px;
    width: 40vw;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .link-container {
    width: 100vw;
    text-align: center;
    border: none;


  animation-name: appear;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  }
  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc($navHeight / 10);
    padding-top: 8px;
    font-size: 30px;
    padding-left: 0;
    color: white;

    animation: none;
  }
  .last-link {
    border-bottom: 1px solid $borderColor;
  }
  .sublink-container {
    margin-left: 0;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: none;
  }
  .sublink {
    width: 70vw;
    height: calc($navHeight / 20);
    padding-left: 0;
    margin-top: 0px;
    line-height: 32px;
    border-left: 1px solid $borderColor;
    border-right: 1px solid $borderColor;
    color: white;

    animation: none;
  }
  .external-link-container {
    height: calc($navHeight * (3 / 10));
  }
  .external-link {
    width: 100vw;
    height: auto;
    font-size: 15px;
    text-align: center;
    padding: 0;
    color: white !important;
  }
}

@keyframes blur {
  from {
    background-color: rgba(0, 0, 0, 0);
    height: 120px;
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
  }
}

@keyframes unblur {
  from {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
  }
  to {
    background-color: rgba(0, 0, 0, 0);
    height: 120px;
  }
}

@keyframes overSublink {
  from {
    color: $linkColor
  }
  to {
    color: black
  }
}

@keyframes offSublink {
  from {
    color: black
  }
  to {
    color: $linkColor
  }
}

@keyframes overExternalText {
  from {
    color: rgb(180, 180, 180)
  }
  to {
    color: black
  }
}

@keyframes offExternalText {
  from {
    color: black
  }
  to {
    color: rgb(180, 180, 180)
  }
}

@keyframes overText {
  from {
    color: $linkColor;
  }
  to {
    color: white;
  }
}

@keyframes offText {
  from {
    color: white;
  }
  to {
    color: $linkColor;
  }
}